<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jp.co.golorp.emarf.plugin.commands.category"
            name="Emarfカテゴリー">
      </category>
      <command
            categoryId="jp.co.golorp.emarf.plugin.commands.category"
            name="BeanGenerator実行"
            id="jp.co.golorp.emarf.plugin.commands.BeanGeneratorCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.co.golorp.emarf.plugin.handlers.BeanGeneratorHandler"
            commandId="jp.co.golorp.emarf.plugin.commands.BeanGeneratorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.co.golorp.emarf.plugin.commands.BeanGeneratorCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!-- プロジェクトのポップアップにボタン表示 -->
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="jp.co.golorp.emarf.plugin.commands.BeanGeneratorCommand"
               id="plugin.popups.sampleCommand">
            <visibleWhen>
               <with variable="selection">
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IProject" />
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
