<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title>D0004</title>
<style type="text/css">
</style>
<script type="text/javascript">

</script>
</head>
<body>
  <div layout:fragment="article">
    <h2 th:text="#{D0004.h2}"></h2>
    <form name="D0004ReferForm" action="D0004Refer.ajax?hoge=hoge">
      <fieldset>
        <legend th:text="#{D0004ReferForm.legend}"></legend>
        <div>
          <label for="sansho1Id" th:text="#{D0004ReferForm.sansho1Id}"></label><input type="text" id="sansho1Id" name="sansho1Id" />
        </div>
        <div>
          <label for="sansho1Mei" th:text="#{D0004ReferForm.sansho1Mei}"></label><input type="text" id="sansho1Mei" name="sansho1Mei" />
        </div>
      </fieldset>
      <div class="buttons">
        <button type="reset">reset</button>
        <button type="button">button</button>
      </div>
      <div class="submits">
        <button type="button">button</button>
        <button id="D0004Submit">submit</button>
      </div>
    </form>
    <form name="D0004RegistForm" action="D0004Regist.ajax?hoge=hoge">
      <div id="D0004Grid" style="height: 500px; width: 500px;" data-addRow="true" data-selectionMode="row"></div>
    </form>
  </div>
</body>
</html>