<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<style type="text/css">
</style>
<script type="text/javascript">

</script>
</head>
<body>
  <div layout:fragment="article">
    <h2>検索画面</h2>
    <form name="D0001SearchForm" action="D0001Search.ajax" class="search">
      <fieldset>
        <legend>検索条件</legend>
        <div id="sosenId">
          <label for="sosenId">祖先ID</label><input type="text" id="sosenId" name="sosenId" maxlength="10" data-json="TSosenSearch.json" data-srcDef="SOSEN_ID:sosenId" data-destDef="sosenMei:SOSEN_MEI" /><a id="sosenId" href="../model/TSosenS.html" target="dialog" class="refer" tabindex="-1">...</a><span id="sosenMei" class="refer" data-json="TSosenSearch.json" data-srcDef="SOSEN_ID:sosenId" data-destDef="sosenMei:SOSEN_MEI"></span>
        </div>
        <div>
          <label for="entityMei">エンティティ名</label><input type="text" id="entityMei" name="entityMei" />
        </div>
        <div>
          <fieldset id="checkFList" data-options="MCodeValueSearch.json" data-optionParams="code_nm:check_f" data-optionValue="CODE_VALUE" data-optionLabel="CODE_VALUE_MEI">
            <legend>checkbox</legend>
          </fieldset>
        </div>
        <div>
          <fieldset id="radioList" data-options="MCodeValueSearch.json" data-optionParams="code_nm:radio_kb" data-optionValue="CODE_VALUE" data-optionLabel="CODE_VALUE_MEI">
            <legend>radio</legend>
          </fieldset>
        </div>
        <div>
          <label for="select">select</label><select id="select" name="select" data-options="MCodeValueSearch.json" data-optionParams="code_nm:pulldown_kb" data-optionValue="CODE_VALUE" data-optionLabel="CODE_VALUE_MEI">
          </select>
        </div>
      </fieldset>
      <div class="buttons">
        <button type="reset">reset</button>
        <button type="button">button</button>
      </div>
      <div class="submits">
        <button type="button">button</button>
        <button id="ReferD0001" data-gridId="D0001Grid">submit</button>
      </div>
    </form>
    <form name="D0001RegistForm" action="D0001Regist.ajax?hoge=hoge">
      <div id="D0001Grid" style="height: 500px;" data-frozenColumn="3" data-selectionMode="checkbox"></div>
      <div class="buttons">
        <button type="reset">reset</button>
        <button type="button">button</button>
      </div>
      <div class="submits">
        <button type="button">button</button>
        <button id="RegistD0001">submit</button>
      </div>
    </form>
  </div>
</body>
</html>
