<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title>D0002</title>
<style type="text/css">
</style>
<script src="./D0004GridColumns.js"></script>
<script type="text/javascript">
    function D0004SubmitCallBack(data) {
        Gridate.refresh('D0004Grid', data['D0004Refer']);
    }
</script>
</head>
<body>
  <div layout:fragment="article">
    <h2 th:text="#{D0002.h2}"></h2>
    <form method="post" name="D0002RegistForm" action="D0002Regist.ajax?hoge=hoge">
      <fieldset>
        <legend th:text="#{D0002RegistForm.legend}"></legend>
        <div>
          <label for="sosenId" th:text="#{D0002RegistForm.sosenId}"></label><input type="text" id="sosenId" name="sosenId" />
        </div>
        <div>
          <label for="oyaSn" th:text="#{D0002RegistForm.oyaSn}"></label><input type="text" id="oyaSn" name="oyaSn" />
        </div>
        <div>
          <label for="entitySn" th:text="#{D0002RegistForm.entitySn}"></label><input type="text" id="entitySn" name="entitySn" />
        </div>
        <div>
          <label for="entityMei" th:text="#{D0002RegistForm.entityMei}"></label><input type="text" id="entityMei" name="entityMei" />
        </div>
        <div>
          <label for="sansho1Id" th:text="#{D0002RegistForm.sansho1Id}"></label><input type="text" id="sansho1Id" name="sansho1Id" maxlength="4" data-onenter="MSansho1Refer.json" data-onenterParamNames="sansho1_id:sansho1Id" data-onenterTargetNames="sansho1Mei:SANSHO1_MEI" /><a id="sansho1" href="D0004.html" th:title="#{D0004.h2}" target="dialog">…</a><span id="sansho1Mei"></span>
        </div>
        <div>
          <label for="sansho1Mei" th:text="#{D0002RegistForm.sansho1Mei}"></label><input type="text" id="sansho1Mei" name="sansho1Mei" />
        </div>
        <div>
          <label for="password">password</label><input type="password" id="password" name="password" />
        </div>
        <div>
          <fieldset id="checkFList" data-options="MCodeValueRefer.json" data-optionParams="code_nm:check_f" data-optionValue="CODE_VALUE" data-optionLabel="CODE_VALUE_MEI">
            <legend>checkbox</legend>
          </fieldset>
        </div>
        <div>
          <fieldset id="radioList" data-options="MCodeValueRefer.json" data-optionParams="code_nm:radio_kb" data-optionValue="CODE_VALUE" data-optionLabel="CODE_VALUE_MEI">
            <legend>radio</legend>
          </fieldset>
        </div>
        <div>
          <label for="select">select</label><select id="select" name="select" data-options="MCodeValueRefer.json" data-optionParams="code_nm:pulldown_kb" data-optionValue="CODE_VALUE" data-optionLabel="CODE_VALUE_MEI">
          </select>
        </div>
        <div>
          <label for="textarea">textarea</label>
          <textarea id="textarea" name="textarea" rows="5" cols=""></textarea>
        </div>
      </fieldset>
      <div class="buttons">
        <button type="reset">reset</button>
        <button type="button">button</button>
      </div>
      <div class="submits">
        <button type="button">button</button>
        <button id="RegistD0002">submit</button>
      </div>
    </form>
  </div>
</body>
</html>