<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title>ajax送信</title>
<style type="text/css">
</style>
<script src="./D0004GridColumns.js"></script>
<script type="text/javascript">

</script>
</head>
<body>
  <div layout:fragment="article">
    <h2>ajax送信</h2>
    <form name="D0002RegistForm" action="D0002Regist.ajax">
      <fieldset>
        <legend>エンティティ</legend>
        <div>
          <label for="sosenId">祖先ID</label><span id="sosenId"></span><input type="hidden" name="sosenId" />
        </div>
        <div>
          <label for="oyaSn">親連番</label><span id="oyaSn"></span><input type="hidden" name="oyaSn" />
        </div>
        <div>
          <label for="entitySn">エンティティ連番</label><span id="entitySn"></span><input type="hidden" name="entitySn" />
        </div>
        <div>
          <label for="entityMei">エンティティ名</label><input type="text" id="entityMei" name="entityMei" />
        </div>
        <div>
          <label for="sansho1Id">参照１ID</label><input type="text" id="sansho1Id" name="sansho1Id" data-json="MSansho1Search.json" data-srcDef="SANSHO1_ID:sansho1Id" data-destDef="sansho1Mei:SANSHO1_MEI" /><a id="sansho1Id" th:href="@{/model/MSansho1S.html}" target="dialog" class="refer" tabindex="-1" th:title="#{D0004.h2}">...</a>
        </div>
        <div>
          <label for="sansho1Mei">参照１名</label><input type="text" id="sansho1Mei" name="sansho1Mei" />
        </div>
      </fieldset>
      <div class="buttons">
        <button type="button" onClick="Dialogate.refresh(event);">リセット</button>
        <a th:href="@{D0002Get.xlsx(baseMei=詳細画面)}" id="D0002Get.xlsx" tabindex="-1">エクセル出力</a>
        <button id="DeleteD0002" class="delete" data-action="D0002Delete.ajax" tabindex="-1">削除</button>
      </div>
      <div class="submits">
        <button id="RegistD0002" class="regist">登録</button>
      </div>
    </form>
  </div>
</body>
</html>
